* {
  box-sizing: border-box;
}

/* color palette */
:root {
  --charcoal: #2E4057;
  --teal: #75DDDD;
  --brown: #773c0c;
  --white: #e9eaef;

}

body {
  margin: 0px;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: var(--white);
  color: var(--charcoal);
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0, 0, 0, 5px;
}

p {
  margin: 0;
}

header {
  padding: 15px 6% 15px 0;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

header h1 {
  padding: 5px 1% 5px 6%;
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

/* hero */
.hero {
  background: var(--white);
  background-image: url("../assets/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 30vh;
  color: var(--white);
  padding: 2% 6%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  text-align: left;
}

.hero div {
  flex: 0 0 90%;
}

main {
  margin-top: 20px;
  margin-bottom: 40px;
}

.main {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin: 15px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.section h2 {
  flex: 0 0 20%;
  text-align: left;
  padding-right: 15px;
  font-size: 3vw;
  line-height: 1.1;
  color: var(--charcoal);
}

section div {
  flex: 0 0 100%;
}

/* work section */
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-item {
  color: var(--white);
  text-decoration: none;
  min-height: 200px;
  max-height: 150px;
  display: flex;
  align-items: flex-end;
  margin: 5px;
  padding: 5px;
  flex-basis: 43.5%;
}

.flex-item:first-child {
  min-height: 300px;
  flex-basis: 88%;
}

.run-buddy {
  background-image: url("../assets/run-buddy.jpg");
}

.horiseon {
  background-image: url("../assets/horiseon.jpg");
}

.cocktail-music {
  background-image: url("../assets/cocktail-music.jpg");
}
